@import "../../stylesheet/variable.scss";

.input-form-control {
    background: $gray-color;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    padding: 4px 6px;
    input {
        width: 100%;
        background-color: unset;
        border: unset;
        outline: none;
        padding: 0px;
    }
}